{{define "email_info"}}

<td style="border-bottom: 1px solid #ddd; color: black; padding-top: 15px; padding-bottom: 20px; text-align: left; line-height: 25px; font-size: 13px;">
    <p style="font-family: Arial; font-weight: bold; font-size: 18px; line-height: 28px; color: #000000;">Questions?</p>
    <span style="font-family: Arial; font-size: 16px; line-height: 24px;">Email us any time at <a href='mailto:{{.Props.SupportEmail}}' style='text-decoration: none; color:#2389D7;'>{{.Props.SupportEmail}}.</a></span>
</td>

{{end}}
