{{define "password_reset_body"}}

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top: 20px; line-height: 1.7; color: #555;">
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 660px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; background: #FFF;">
                <tr>
                    <td style="border: 1px solid #ddd;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                            <tr>
                                {{template "email_header" . }}
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" style="padding: 20px 50px 0; text-align: center; margin: 0 auto">
                                        <tr>
                                            <td style="border-bottom: 1px solid #ddd; padding: 0 0 20px;">
                                                <h2 style="font-family: Arial; font-weight: bold; font-size: 28px; line-height: 32px; margin-top: 10px; color: #000000;">{{.Props.Title}}</h2>
                                                <p style="font-family: Arial; font-size: 16px; line-height: 24px; color: #000000;">{{.Props.Info1}}<br>{{.Props.Info2}}</p>
                                                <p style="margin: 40px 0 25px">
                                                    <a href="{{.Props.ResetUrl}}" style="font-family: Arial !important; font-size: 16px !important; line-height: 16px !important; color: #FFFFFF !important; width: 213px; height:40px; background: #0058CC; border-radius: 4px !important; color: #fff; outline: none; min-width: 200px; padding: 12px 24px; cursor: pointer; -webkit-appearance: none;text-decoration: none;">{{.Props.Button}}</a>
                                                </p>
                                                <div style="margin: 60px 0px 40px">
                                                    <img style="width: 372px; height: 265px;" src="{{.Props.SiteURL}}/static/images/password.png" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            {{template "email_info" . }}
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                {{template "email_footer" . }}
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{end}}
